.container-section-about {
    padding: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-section-about .content-section-about .about {
    font-family: "NBInternationalProBoo";
    width: max-content;
}

.container-section-about .content-section-about .about p {
    color: #000000c5;
    font-weight: 500;
    text-align: center;
    padding: 0.7rem 0;
    font-size: 1.2vw;
}

.container-section-about .content-section-about .about span h2 {
    font-size: 4vw;
    text-decoration: none;
    overflow: hidden;
    display: block;
}
.container-section-about .content-section-about .about span {
    display: block;
    overflow: hidden;
}

.container-section-about .content-section-about .about h2 a {
    color: #000000;
    font-weight: 100;
    text-decoration: underline 3px;
}