/* container-main */
/* content-main */

.container-main,
.content-main {
    width: 100%;
    height: 100%;
}

/* .cantainer-section:nth-child(1) */
.container-section:nth-child(1) {
    padding: 4rem 2.4rem;
}

.section-span-1 {
    border-bottom: 1px solid #0000007c;
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-span-1 span {
    font-size: 1.7vw;
    font-family: "NBInternationalProBoo";
    font-weight: 100;
}

.section-span-2 {
    padding: 0.5rem 0;
}

.section-span-2 span {
    font-size: 4.1vw;
    font-family: "NBInternationalProBoo";
    font-weight: 100;
}

/* .container-section:nth-child(2) */
.container-section:nth-child(2) {
    width: 100%;
    height: 100%;
    padding: 4rem 2.4rem;
}

.container-section:nth-child(2) .content-section {
    font-family: "NBInternationalProBoo";
    width: 100%;
    height: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-p {
    padding: 0.5rem;
    gap: 10px;
}

.section-p p {
    font-size: 1.2vw;
    position: relative;
    left: -5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.section-p p .moedels {
    background-color: #000000;
    font-size: 0.8vw;
    padding: 0.3vw 0.4vw;
    border-radius: 30px;
    color: #fff;
    border: none;
}

.rotate {
    transform: rotate(-90deg);
    margin-left: 5px;
}

.section-h2 {
    text-align: center;
}

.section-h2 h2 a {
    width: max-content;
    font-size: 4.1vw;
    font-weight: 100;
    color: #000000;
    text-decoration: underline #000000 3px;
    text-align: center;
}

/* .section:nth-child(3) */
.container-section:nth-child(3) {
    width: 100%;
    height: 100%;
    padding: 4rem 3.4rem;
}

.top-cards {
    padding: 1rem 0;
    font-family: "NBInternationalProBoo";
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5vw;
}

.top-cards a {
    color: #000000;
    text-decoration: none;
}

.card-video video {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.card-video {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-video img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
}

.content-card-video {
    display: flex;
    gap: 0.8vw;
}

.title-img {
    position: absolute;
    left: 0;
    bottom: 7vw;
    left: 7.5vw;
    z-index: 999;
}

.title-img img {
    width: 10vw;
    height: 4.5vh;
}

#revian {
    height: 3vw;
    background-color: #403D34;
}

/* .container-section:nth-child(4) */
.container-section:nth-child(4) {
    width: 100%;
    height: 100%;
    padding: 4rem 3.4rem;
}

.container-scroll-blur {
    width: 100%;
    height: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.video-back {
    width: 70%;
    position: relative;
    display: flex;
    justify-content: center;
}

.video-back video {
    width: 100%;
}

.loader {
    position: absolute;
    width: 55%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.text {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}

.seats {
    text-align: center;
    font-family: "NBInternationalProBoo";
    color: #fff;
}

.seats h1 {
    font-size: 4vw;
    font-weight: 500;
}

.seats p {
    font-size: 1.7vw;
    font-weight: 500;
}

.dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

/* .container-section:nth-child(4) */
.container-section:nth-child(6) {
    width: 100%;
    height: 100%;
    padding: 4rem 3.4rem;
}

/* .cantainer-section:nth-child(1) */
.container-section:nth-child(7) {}

.title-slider {
    width: 100%;
    position: relative;
    padding: 0rem 2.4rem;
    display: flex;
    justify-content: space-between;
    top: 3.5vw;
}

.title-slider p {
    font-family: "Rejouice-Headline";
    font-size: 9vw;
    border-bottom: 1px solid #00000073;
    width: 100%;

}

.title-slider a {
    position: absolute;
    bottom: 10%;
    right: 3%;
    font-family: "NBInternationalProBoo";
    font-size: 1.8vw;
    text-decoration: none;
    color: #000000;
}

.title-slider span {
    transform: rotate(180deg);
    position: absolute;
    left: -30%;
}

.container-slider-image {
    width: 100%;
    overflow-x: hidden;
    position: relative;
    bottom: 0;
}

.content-slider-image {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 1.5vw;
}

.content-slider-image img {
    width: 22.5vw;
    flex-shrink: 0;
    z-index: 1;
}

/* .cantainer-section:nth-child(9) */
.container-section:nth-child(9) {
    padding: 16vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about {
    font-family: "NBInternationalProBoo";
    width: max-content;
}

.about p {
    color: #000000c5;
    font-weight: 500;
    text-align: center;
    padding: 0.7rem 0;
    font-size: 1.2vw;
}

.about h2 {
    font-size: 4vw;
    text-decoration: none;
}

.about h2 a {
    color: #000000;
    font-weight: 100;
    text-decoration: underline 3px;
}
