* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

@font-face {
    font-family: "NBInternationalProBoo";
    src: url("../font/NBInternationalProBoo.woff2");
}

@font-face {
    font-family: "Rejouice-Headline";
    src: url("../font/Rejouice-Headline.woff2");
}

.container-main,
.content-main {
    width: 100%;
    height: 100%;
    background-color: #FAF8F3;
}
body::-webkit-scrollbar {
    display: none;
}


#play-reel {
    position: fixed;
    width: 150px;
    height: 150px;
    background-color: #ca401ecc;
    border-radius: 100%;
    /* mix-blend-mode: difference; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "NBInternationalProBoo";
    color: #FFFCF1;
    font-weight: 500;
    pointer-events: none;
    transform: translate(-50%, -50%);   

    @media screen and (max-width: 900px) {
        width: 60px;
        height: 60px;
        font-size: 10px;
    }

}