.header-video {
    width: 100%;
    height: 100vh;
    position: relative;
}

.header-video .video-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}

header {
    font-family: "NBInternationalProBoo";
    color: #FFFCF1;
}

header>nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5rem 3.2rem;
}

header>nav a {
    font-size: 1.4vw;
    font-weight: 500;
    cursor: grab;
}

.text-header-a {
    display: flex;
    gap: 5px;
    position: relative;
    z-index: 999;
}

#header-logo {
    display: flex;
    align-items: center;
    justify-content: center;

}

#header-logo h1 {
    font-family: "Rejouice-Headline";
    position: absolute;
    bottom: 4%;
    font-size: 26.7vw;
    line-height: 15.2vw;
    overflow: hidden;
    font-weight: 100;
    display: flex;
    align-items: center;
    text-transform: lowercase;
}

#header-logo h1 p {
    transform: rotate(-180deg);
}



#overlay {
    width: 100%;
    height: 100vh;
    background-color: #0E0E0E;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 100;
    gap: 5px;
    z-index: 999 !important;
}

#overlay span {
    font-family: "NBInternationalProBoo";
    color: #FFFCF1;
    font-size: 1.8vw;
}

menu {
    width: 100%;
    height: 100vh;
    background-color: #EDECE7;
    position: fixed;
    top: 0;
    z-index: 1000;
    /* clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0); */
    /* clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%) ;
}

.content-menu {
    width: 100%;
    height: 100%;
    position: relative;
}

.left {
    width: 45vw;
    height: 50vh;
    position: absolute;
    left: 3%;
    top: 5%;
}

.right {
    width: 45vw;
    height: 50vh;
    position: absolute;
    right: 3%;
    top: 5%;
}

.menu-links {
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 5%;
    padding: 3.5rem 3.2rem;
    display: flex;
    align-items: end;
    justify-content: end;
}

.left-title span {
    font-family: "Rejouice-Headline";
    font-size: 3vw;
    color: #2D2B2B;
}

.left-video {
    width: 25vw;
    overflow: hidden;
}

.left-video video {
    width: 100%;
    border-radius: 5px;
}

.play {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "NBInternationalProBoo";
}

.play span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    color: #2D2B2B;
    font-weight: 400;
}

.play span button {
    background-color: #0E0E0E;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.right ul {
    font-family: "NBInternationalProBoo";
    list-style: none;
    padding: 5rem 0;
}
.right ul li {
    font-size: 4vw;
    line-height: 4vw;
    color: #0E0E0E;
    cursor: grab;
}

.menu-links span {
    font-family: "NBInternationalProBoo";
    font-size: 1.5vw;
    color: #2D2B2B;
}

.exit {
    position: absolute;
    right: 2.5%;
    top: 5%;
    z-index: 1;
}
.exit span{
    font-family: "NBInternationalProBoo";
    font-size: 2vw;
    color: #2D2B2B;
    cursor: grab;
}