.container-section-six {
    padding: 4rem 3.5rem;
}

.container-section-six .content-section-six .div-span-1 {
    padding: 1rem 0;
    position: relative;
}

.container-section-six .content-section-six .div-span-1 span {
    font-weight: 100;
    font-size: 1.7vw;
    font-family: "NBInternationalProBoo";
    overflow: hidden;
    display: block;
}

.container-section-six .content-section-six .div-span-1 hr {
    position: absolute;
    left: 0;
    width: 0%;
    bottom: -0.11vw;
    border: none;
    border-bottom: 1px solid #0000007c;

}

.container-section-six .content-section-six .div-span-1 span p {
    display: block;
    margin-top: 5px;
}

.container-section-six .content-section-six .div-span-2 span {
    font-size: 4.1vw;
    font-family: "NBInternationalProBoo";
    font-weight: 100;
    overflow: hidden;
    display: block;
}
.container-section-six .content-section-six .div-span-2 span p {
    display: block;
}