.container-footer {
    width: 100%;
    height: 100%;
    color: #FFFCF1;
}

.content-footer {
    height: 100vh;
    background-color: #0E0E0E;
}

footer {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "NBInternationalProBoo";
}

#footer-logo {
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
}

#footer-logo h1 {
}

#rejouice-f {
    font-family: "Rejouice-Headline";
    font-weight: 100;
    display: flex;
    font-size: 26.5vw;
    line-height: 16.1vw;
    overflow: hidden;
    padding: 0rem 3.2rem;
}
#rejouice-f #r-f {
    /* transform: rotate(-180deg); */
}

.footer-top {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2.5rem 3.5rem 0;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
}

.nav-text {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.nav-text span {
    font-size: 1.7vw;
}

.nav-text button {
    padding: 1rem;
    border-radius: 30px;
    background-color: transparent;
    color: #FFF;
    font-size: 1.2vw;
    border: none;
    letter-spacing: 0.5px;
    transition: 400ms ease-in-out;
    cursor: pointer;
    border: 1px solid #FFF;
    width: 170px;
    font-weight: 100;
}

.nav-text button:hover {
    background-color: #FFF;
    color: #0D0D0D;
    transition: 400ms ease-in-out;
}

.nav-lista {
    display: flex;
    gap: 7vw;
    font-size: 1.2vw;
}

.nav-lista ul {
    list-style: none;
}

.nav-lista ul:nth-child(1) {
    margin-top: 10px;
}

.nav-lista ul li {
    margin-top: 2px;

}

.nav-links {
    display: flex;
    justify-content: space-between;
    font-size: 1.2vw;
}

.links {
    display: flex;
    gap: 5.5vw;
}